<div class="card">
  <div class="card-body">
    <%= form_with(model: @todo_list, data: { turbo: false }) do |form| %>
      <% if @todo_list.errors.any? %>
        <ul>
          <% @todo_list.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="mb-3">
        <%= form.label :name, 'Name:', class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :status, 'Status:', class: 'form-label' %>
        <%= form.select :status, TodoList.statuses.keys, {}, { class: 'form-select' }  %>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto">
        <%= form.submit "Submit", class: 'btn btn-outline-dark btn-sm' %>
      </div>
    <% end %>
  </div>
</div>