<%= render 'shared/nav' %>

<div class="cont2">
   <div class="card">
      <div class="card-body">
        <h1 class="text-center"><%= @user.first_name %> - My Todo List</h1>
          <input type="text" id="myInput" placeholder="Title...">
          <%= link_to('Create New Todo', new_todo_list_path, class: 'btn btn-secondary') %>
      </div>
    </div>
      
      <div class="card mt-5">
        <div class="card-body">
           <table class="table table-dark table-hover">
             <thead>
               <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Status</th>
                  <th colspan="3">Action</th>
               </tr>
             </thead>

             <tbody>
               <% @todo_lists.each_with_index do |todo_list, index| %>
                <tr>
                   <td><%= index + 1 %></td>
                   <td><%= todo_list.name %></td>
                   <td><%= todo_list.status%></td>
                   <td><%= link_to "Edit", edit_todo_list_path(todo_list) %></td>
                   <td><%= link_to "Show", todo_list_path(todo_list) %></td>
                   <td><%= link_to "Delete", todo_list_path(todo_list), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
                 </tr>
               <% end %>
             </tbody>
           </table>
        </div>
      </div>
</div>
      